<div class="row ">
  <%= image_tag("http://placehold.it/1000x440")  %>
  <h6 class="text-center text-gray"> 
    The Flower Alley delivers to Novi Northville and Michigan.
  </h6>
  <h6 class="text-center"> 
    <%= link_to 'Click here to see if we deliver to you.', "#", class: 'button-link text-logopink' %> 
  </h6>
  <ul class="small-block-grid-3">
    <li><%= image_tag("http://placehold.it/299x280")  %></li>
    <li><%= image_tag("http://placehold.it/299x280")  %></li>
    <li><%= image_tag("http://placehold.it/299x280")  %></li>
  </ul>
</div>   
