.full-inputs
  = simple_form_for [:admin, seo], remote: true, url: admin_update_seo_path(seo), method: 'put' do |f|
    = f.input :content, required: true, as: :text, input_html: {rows: 2, maxlength: "#{ seo.name == 'title' ? '70' : '155' }"}, label: seo.name.try(:humanize)
    %p
      %span.character-count.green
      = "#{seo.name.try(:humanize)} should be no longer than #{ seo.name == 'title' ? '70' : '155' }  characters"
    .text-center
      %button.btn.btn-primary Update

    :javascript
      $('#edit_meta_tag_#{seo.id} textarea').keyup(function(){
        var max=$(this).attr('maxlength');
        var char_count=$(this).val().length;
        $('#edit_meta_tag_#{seo.id} .character-count').text( char_count+'/'+max)
      });
