- content_for :title do
  Contact
.row.text-center
  .page-title.pad-top-25.pad-bottom-25.margin-bottom-30
    %h3.text-gray Contact
.row.contact-body.pad-top-30
  .contact-type.text-gray
    .contact-title
      %h4.text-gray.main-font.text-center.margin-bottom-25 Contact The Flower Alley By Email 
    = simple_form_for @contact, html: {id: "contactForm", class: 'form-horizontal' } do |f|
      .floating-label-form-group.controls.contact-name.small-10.small-centered.medium-5.columns
        = f.input :name, required: true, placeholder: "Name", input_html: {id: "name", class: "form-control text-gray"}
      .floating-label-form-group.controls.small-10.small-centered.medium-5.columns

        = f.input :email, required: true, label: "Email Address", placeholder: "Email Address", input_html: {id: "email", class: "form-control"}
      .floating-label-form-group.controls.small-10.small-centered.medium-5.columns
        = f.input :message, required: true, placeholder: "Enter your message here", input_html: {id: "message" , class: "form-control"}
      .form-actions.text-center
        = f.button :submit, 'Send', class: "button radius"

      
  / .page-content.text-gray
  /   %h4.text-gray.main-font Contact The Flower Alley By Phone
  /   %p= phone_number_link("(248) 305-9190")
  /   %h4.text-gray.main-font Stop by our Store
  /   %p 25914 Novi Rd. | Novi, MI 48375

