%ul
  %h5= link_to "All" , galleries_path
  %h5= link_to "Every day" ,galleries_path(category: "Every day")
  %h5= link_to "Bouquets" , galleries_path(category: "Bouquets")
  %h5= link_to "Ceremony" , galleries_path(category: "Ceremony")
  %h5= link_to "Reception" , galleries_path(category: "Reception")
  %h5= link_to "Holidays" , galleries_path(category: "Holidays")
  %h5= link_to "Events" , galleries_path(category: "Events")
  %h5= link_to "Sympathy" , galleries_path(category: "Sympathy")
  %h5= link_to "Featured event" , galleries_path(category: "Featured event")

