.row
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        = link_to spree.admin_path do
          Switch to Shop Admin Area
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %i.fa.fa-bars.fa-2x
    .top-bar-section
      %ul.right
        %li.has-dropdown
          = link_to admin_root_path do
            Admin
          %ul.dropdown
            %li
              = link_to admin_seo_path do
                Seo
        %li.has-dropdown
          = link_to spree.account_path do
            %i.fa.fa-user
            Account
          %ul.dropdown
            %li
              = link_to spree.edit_account_path do
                %i.fa.fa-cog
                Edit Account
            %li
              = link_to spree.admin_logout_path do
                %i.fa.fa.fa-sign-out
                Logout

