.footer-contact
  %hr/
  %h6.text-center.text-gray.tiny-font
    25914 Novi Rd. Novi, MI 48375. (248) 305-9190
.footer-menu.pad-top-15
  %ul.footer.links.inline-list.tiny-font.margin-bottom-5
    %li= link_to "Shop" ,'#', class: 'button-link text-logopink '
    %li= link_to "About Us" ,'#',class: 'button-link text-logopink'
    %li= link_to "Weddings" ,'#',class: 'button-link text-logopink'
    %li= link_to "Occasions" ,'#',class: 'button-link text-logopink'
    %li= link_to "Sympathy" ,'#',class: 'button-link text-logopink'
    %li= link_to "Reviews" ,'#',class: 'button-link text-logopink'
    %li= link_to "Gallery" ,'#',class: 'button-link text-logopink'
    %li= link_to "Contact" ,'#',class: 'button-link text-logopink'
    %li= link_to "Terms of Service" ,'#',class: 'button-link text-logopink'
    %li= link_to "Privacy Policy " ,'#',class: 'button-link text-logopink'
    %li= link_to " Sitemap" ,'#',class: 'button-link text-logopink'

  %ul.social-icons.inline-list.margin-botton-0
    %li
      = link_to "https://www.facebook.com/Thefloweralley", class: "text-logopink" do
        %i.fa.fa-facebook-official.fa-lg
    %li
      = link_to "#",class: "text-logopink" do
        %i.fa.fa-pinterest-square.fa-lg
    %li
      = link_to "#", class: "text-logopink" do
        %i.fa.fa-google-plus-square.fa-lg
    %li
      = link_to "#", class: "text-logopink" do
        %i.fa.fa-instagram.fa-lg   
  %ul.payment-options.inline-list.silver
    %li
      %i.fa.fa-cc-visa.fa-2x   
    %li
      %i.fa.fa-cc-amex.fa-2x 
    %li
      %i.fa.fa-cc-discover.fa-2x
    %li
      %i.fa.fa-cc-mastercard.fa-2x 
  .footer-copyright.darkgray
    Copyright &copy; AdamQuintin 2015 
      
    

   
