.row
  %hr/
  %h6.text-center.text-gray.tiny-font
    25914 Novi Rd. Novi, MI 48375. (248) 305-9190
  .footer-info.pad-top-15
    %ul.small-block-grid-8.text-center.tiny-font
      %li= link_to "Shop" ,'#', class: 'button-link text-logopink'
      %li= link_to "About Us" ,'#',class: 'button-link text-logopink'
      %li= link_to "Weddings" ,'#',class: 'button-link text-logopink'
      %li= link_to "Occasions" ,'#',class: 'button-link text-logopink'
      %li= link_to "Sympathy" ,'#',class: 'button-link text-logopink'
      %li= link_to "Reviews" ,'#',class: 'button-link text-logopink'
      %li= link_to "Gallery" ,'#',class: 'button-link text-logopink'
      %li= link_to "Contact" ,'#',class: 'button-link text-logopink'
   
 