%li= link_to "Shop" ,'#'
%li= link_to "About Us" ,'#'
%li= link_to "Weddings & Events" ,'#'
%li= link_to "Sympathy" ,'#'
%li= link_to "Reviews" ,'#'
%li= link_to "Gallery" ,'#'
%li= link_to "Contact" ,'#'
