%li= link_to "Shop" ,'#'
%li= link_to "About Us" ,page_path('about')
%li= link_to "Weddings & Events" ,page_path('weddings_&_events')
%li= link_to "Sympathy" ,page_path('sympathy')
%li= link_to "Reviews" ,page_path('reviews')
%li= link_to "Gallery" ,galleries_path
%li= link_to "Contact" , new_contact_path
